# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
.env/
.venv/
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore large datasets if not needed
*.zip
*.tar.gz
*.rar
